body,h1,h2,h3,p{
  font-family: Nova Flat;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/6054809.jpg");
  background-size: cover;
}
header {
  font: 20px Nova Flat;
  background-color: #190f37;
  padding: 10px;
  text-align: center;
}
/* img{
    width: 100%;
    height: auto;
} */

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

header a:hover {
  text-decoration: underline;
}
*/ section {
  font: 20px Nova Flat;
  /* padding-top: 155px; */
  min-height: 30px;
}
section a {
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}
section a:hover {
  text-decoration: underline;
  font-size: 20px;
}

main {
    color: white;
  font: 20px Nova Flat;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

article {
  background-color: rgba(0, 0, 0, 0.461);
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 35px;
}
/* .article_div :hover {
  background-color: rgba(0, 0, 0, 0.5);
} */

article a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.home {
    background-color: rgba(0, 0, 0, 0.375);
    border-radius: 25px;
  padding: 15px;
  margin-top: 20%;
  font: 20px Nova Flat;
  min-height: 250px;
  max-width: auto;
  max-height: auto;
  /* font: 20px Aclonica; */
}
.home p {
  padding: 35px 0 0 25px;
  text-align: justify;
  line-height: 1.75;
}

article p,
h2,
a {
  padding-bottom: 15px;
}

.edit-container {
    font-family: 'Nova Flat';
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.edit-input {
    margin-bottom: 20px;
}

.edit-input label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.edit-input input,
.edit-input textarea {
    color: white;;
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-button button {
    background-color: #4a57be;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button .cancel-button {
    background-color: #35a196;
    color: #e9e8e8;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.about-section{
    background-color:rgba(0, 0, 0, 0.375) ;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 25px;
  
}

.about-section p{
    line-height: 1.75;
}

.about-section h2, p{
    padding-bottom: 25px;
}