<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <h1>About page</h1>
<main>
    <section>
        <h2>About Me</h2>
        <p>
            Hey, I'm DIVYASREE S, a full-stack developer intern at Bharat Intern. This blog
            is my internship project, where I explore the realms of web development and share
            my journey as a developer.
        </p>
        <p>
            Join me in this adventure of coding, problem-solving, and building cool things.
            If you have any questions or suggestions, feel free to reach out!
        </p>
    </section>

    <section>
        <h2>Project Details</h2>
        <p>
            This blog website is part of my internship at Bharat Intern. The goal is to create
            a space to read, create, and edit posts. I've put my heart and soul into this
            project, and I hope you enjoy exploring it as much as I enjoyed building it.
        </p>
    </section>
</main>

<footer>
    <!-- Your footer content goes here -->
</footer>
</body>
</html>