<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a post</title>
    <link rel="stylesheet" href="/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
</head>
<body>
<%- include('header.ejs') %>
<h1 style="color: white;">Edit Post</h1>
<main class="edit-container">
    <form action="/posts/<%= post._id %>" method="post">
        <div class="edit-input">
        <label for="title" style="color: white;">Title:</label>
        <input type="text" id="title" name="title" value="<%= post.title %>" required>
    </div>
    <div class="edit-input">
        <label for="content" style="color: white;">Content:</label>
        <textarea id="content" name="content" rows="10" required><%= post.content %></textarea>
    </div>
    <div class="edit-button">
        <button type="submit">Save Changes</button>
        <button href="/blog" class="cancel-button">Cancel</button>
    </div>
    </form>
</main>
<footer>
    
</footer>
</body>
</html>

