<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to blog website</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
</head>
<body>
    <%- include('header.ejs') %>



<main>
    <div class="home">
        <h2>Welcome to My Blog</h2>
        <p>Hello there! I'm DIVYASREE S, a full-stack developer intern at Bharat Intern.
            This is my personal blog where I share my thoughts, experiences, and projects.
            Explore the posts, and feel free to join the conversation!
        </p>
    </div>
</main>

<footer>

</footer>
</body>
</html>
